<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<!-- .....................................Spring-Quartz任务配置............................. -->
	
	<!-- 定义要调用的工作类 -->
	<bean id="quartzMinute" class="com.wabao.timer.QuartzMinute"></bean>
	
	<!-- 定义调用对象和调用对象的方法   开始 -->
	<bean id="minuteTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzMinute"/>
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>minuteWork</value>
		</property>
	</bean>
	
	<!-- 每分钟触发器 -->
	<bean id="minuteTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="minuteTask"/>
		</property>
		<property name="cronExpression">
			<value>00 * * * * ?</value>
		</property>
	</bean>
	
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<!--  触发器列表 --> 
			<list>
 				<!-- 触发器 每分钟 --> 
 				<ref bean="minuteTrigger"/>
			</list>
		</property>
		<property name="configLocation" value="classpath:quartz.properties"/>
	</bean> 
</beans>